<table>
    <tr>
        <td>
            <p> {{name}} </p>
            <p> {{vision}} </p>
            <p> {{redsocial}} </p>
        </td>
        <td>
            <img [src]="foto" width=200 height=200 />
        </td>

        <td>
            <ul>
                <li> {{contacto1}} </li>
                <li> {{contacto2}} </li>
                <li><a href="https://github.com/bryanMg05">{{contacto3}}</a></li>
                <li> {{direccion}} </li>
            </ul>
        </td>
    </tr>
</table>